<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>The Indie Hackers Podcast: How Developers are Bootstrapping, Marketing, and Growing Their Online Businesses</string>
	<key>artistName</key>
	<string>Courtland Allen: Full-Stack Developer, Designer, Marketer, MIT Grad, and Y Combinator Alum</string>
	<key>coverURL</key>
	<string>NA</string>
	<key>currentPosition</key>
	<string>370</string>
	<key>isLoved</key>
	<string>false</string>
	<key>oldFilename</key>
	<string>/Users/julien/Projects/dotfiles/misc/übersicht/now-playing.widget/lib/cover20.jpg</string>
	<key>songChanged</key>
	<string>false</string>
	<key>songDuration</key>
	<string>3623</string>
	<key>songName</key>
	<string>#008 – Growing a $600,000/mo Business by Starting with Direct Sales with Nathan Barry of ConvertKit</string>
</dict>
</plist>
