.DS_Store
.ropeproject
*.pyc
*~
.#*
.unison.*.unison.tmp-bad
*_flymake.*
.vim/bundle/*/doc/tags
.vim/bundle/*/doc/tags-??
sublime/Packages/User/Gist.sublime-settings
sublime/Packages/User/Package\ Control.cache/*
sublime/Packages/User/Package\ Control.last-run

