/**
 * iA Writer Template “Academic”
 *
 * font-family: TimesNewRomanPS
 * font-size:   15px iPhone 5, 16px iPhone 6+, 17px iPad, 17px Mac, 18px
 * line-height: 1.6667 (30px @ font-size: 18px)
 * vert margin: 30px @ 1080px wide
 */

/* From min-width: 80px */
html {
  font-family: "Times New Roman", "Keyboard", sans-serif;
  font-weight: 300; /* SemiLight weight for non-Retina (@1x) */
  font-size: 1px; /* Overridden by responsive font sizing */
  line-height: 220%; /* 2.5 = 30px @ font-size: 18px */
}

/* Normal weight for Retina… */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), print {
  html {
    font-weight: 400;
  }
}

/* …but only until 414px breakpoint on OS X */
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 414px) and (min-device-width: 1152px) , (min-resolution: 192dpi) and (min-width: 414px) and (min-device-width: 1152px) {
  html {
    font-weight: 300;
  }
}

/* Responsive adjustments */

@media screen and (min-width: 81px) {
  html {
    font-size: 1.1px;
  }
}

@media screen and (min-width: 82px) {
  html {
    font-size: 1.2px;
  }
}

@media screen and (min-width: 83px) {
  html {
    font-size: 1.3px;
  }
}

@media screen and (min-width: 84px) {
  html {
    font-size: 1.4px;
  }
}

@media screen and (min-width: 85px) {
  html {
    font-size: 1.5px;
  }
}

@media screen and (min-width: 88px) {
  html {
    font-size: 1.7px;
  }
}

@media screen and (min-width: 90px) {
  html {
    font-size: 1.85px;
  }
}

@media screen and (min-width: 92px) {
  html {
    font-size: 2px;
  }
}

@media screen and (min-width: 97px) {
  html {
    font-size: 2.5px;
  }
}

@media screen and (min-width: 105px) {
  html {
    font-size: 3px;
  }
}

@media screen and (min-width: 114px) {
  html {
    font-size: 3.5px;
  }
}

@media screen and (min-width: 120px) {
  html {
    font-size: 4px;
  }
}

@media screen and (min-width: 135px) {
  html {
    font-size: 5px;
  }
}

@media screen and (min-width: 150px) {
  html {
    font-size: 6px;
  }
}

@media screen and (min-width: 165px) {
  html {
    font-size: 7px;
  }
}

@media screen and (min-width: 180px) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 180px) and (min-device-width: 1152px) {
  html {
    font-size: 7px;
  }
}

@media screen and (min-width: 200px) {
  html {
    font-size: 9px;
  }
}

@media screen and (min-width: 200px) and (min-device-width: 1152px) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 220px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 220px) and (min-device-width: 1152px) {
  html {
    font-size: 9px;
  }
}

@media screen and (min-width: 240px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 240px) and (min-device-width: 1152px) {
  html {
    font-size: 9px;
  }
}

@media screen and (min-width: 260px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 260px) and (min-device-width: 1152px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 280px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 280px) and (min-device-width: 1152px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 300px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 300px) and (min-device-width: 1152px) {
  html {
    font-size: 12px;
  }
}

/* 15px @320 for iPhone 5 */
@media screen and (min-width: 320px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 320px) and (min-device-width: 1152px) {
  html {
    font-size: 13px;
  }
}

/* For iPhone 6+ */
@media screen and (min-width: 414px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 414px) and (min-device-width: 1152px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 16.5px;
  }
}

@media screen and (min-width: 640px) and (min-device-width: 1152px) {
  html {
    font-size: 15px;
  }
}

/* For iPad and above */
@media screen and (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

@media screen and (min-width: 768px) and (min-device-width: 1152px) {
  html {
    font-size: 16px;
  }
}

/* For widescreen */
@media screen and (min-width: 1080px) {
  html {
    font-size: 18px;
  }
}

body {
  max-width: 38em;
  text-align: justify;
  text-justify: inter-word;
}

@media screen and (min-width: 1080px) {
  body {
    max-width: 754px;
  }
}

/* Headings and Paragraphs */

h1,
h2,
h3,
h4,
h5,
h6,
figure,
p {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-emphasis: inherit;
    font-weight: inherit;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

h1, h4, h5 {
  text-align: center;
}

h1,
h2 {
    padding-top: 1em;
}

h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 78%;
    letter-spacing: 0.04em;
}



h3 {
  font-style: italic;
  float: left;
  margin: 0 0.5em 0 0; /* 9px @ font-size: 18px */
  padding-top: 1em;
}


  /* Clear all siblings after floated h6… */
h3 ~ * {
  clear: both;
}

  /* …except immediately following paragraph */
h3 + p {
  clear: none;
  padding-top: 1em;
}

figure, figcaption {
  padding-top: 1em;
}

/* Indent Paragraphs and Figure captions */
p, figcaption {
  text-indent: 3em; /* 1.1111rem = 20px @ font-size: 18px */
  margin-top: 0;
}

/* ...but not the very first one */

body > :first-child{
    text-indent: 0;
}

h2 + p {
    text-indent: 0;
}

h3 + p {
    text-indent: 0;
    margin-top: 0;
}

/* Prevent super and subscripts from affecting line height */
sup, sub {
  line-height: 0;
}

/* Emphasis */
strong,
blockquote em,
th {
  font-weight: 600;
}

/* Indent ordered lists in blockquotes */
blockquote ul,
blockquote ol {
  margin-left: calc((40 / 18) * -1rem); /* -40px when width = 1080px */
}

/* Blockquotes */
blockquote {
  margin-left: 6em; /* 0.8889rem = 16px when font-size: 12pt */
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-right: 0;
}

blockquote p{
  text-indent: 0;
}

blockquote em strong,
blockquote strong em {
  font-weight: 700;
}

/* Page Breaks */

.pagebreak {
    content: "---Page Break---"
}


/* Override core.css */
@media screen and (min-width: 100px) {
  hr {
    margin-top: calc((30 / 18) * 1rem);
    margin-bottom: calc((29 / 18) * 1rem); /* -1px for border-bottom */
  }
}

/* Tables: see core.css */

/* Code */

code,
samp,
kbd {
  font-size: calc((15 / 18) * 1em); /* 0.8333 = 15px @ font-size: 18px */
}

/* @media Rules */

/* Combined horizontal line styles, supplimenting core.css */

/* Adjust border color to imitate sub-pixel lines */
@media screen and (min-width: 150px) {
    hr,
    caption,
    tbody th,
    td {
        border-bottom-color: #888;
    }

    tbody th,
    td {
        border-top-color: #888;
    }
}

/* Intended border color from 200px */
@media screen and (min-width: 200px) {
    hr,
    caption,
    tbody th,
    td {
        border-bottom-color: #1a1a1a;
    }

    tbody th,
    td {
        border-top-color: #1a1a1a;
    }
}

/* Print styles */
/* font-size needs to be set here again otherwise responsive typography overrides it */
@media print {
  html {
    font-size: 11.5pt;
    /* text-align: justify; */
    text-justify: inter-word;
    background: transparent !important; /* Only on html due to checkboxes */
  }

  body {
    margin-left: 1in;
    margin-right: 1in;
    margin-top: 0;
  }
    
  /* Indent Paragraphs */
  p {
    text-indent: 0.5in;
    margin-top: 0;
  }

  /* ...but not the very first one */

  body > :first-child{
    text-indent: 0;
  }

  blockquote {
    margin-left: 1in;
  }
  
  blockquote p{
    text-indent: 0;
  }
    
    
  
}

/** OBJECTS → see core.css base styles for:
 *  - Indent Paragraphs
 *  - Footnotes
 *  - Task lists
 */

adding-left: 1inch;
}

/* Night Mode */

/* Imitate sub-pixel line for narrow widths */

/* First tweakpoint modifying core.css */
@media screen and (min-width: 150px) {
  .night-mode hr,
  .night-mode caption,
  .night-mode tbody th,
  .night-mode td {
    border-bottom-color: #888;
  }

  .night-mode tbody th,
  .night-mode td {
    border-top-color: #888;
  }
}

/* Intended border color from 200px */
@media screen and (min-width: 200px) {
  .night-mode hr,
  .night-mode caption,
  .night-mode tbody th,
  .night-mode td {
    border-bottom-color: #dedede;
  }

  .night-mode tbody th,
  .night-mode td {
    border-top-color: #dedede;
  }
}

/* Intended border color from 200px for OS X */
@media screen and (min-width: 200px) and (min-device-width: 1152px) {
  .night-mode hr,
  .night-mode caption,
  .night-mode tbody th,
  .night-mode td {
    border-bottom-color: #cccccc;
  }

  .night-mode tbody th,
  .night-mode td {
    border-top-color: #cccccc;
  }
}




/* Task Lists */

.task-list-item-checkbox {
  width: 1.6667rem; /* line-height */
  height: 1.6667rem; /* same as width */
  background-position: 60% 48%; /* tweak position */
}

.header p {
    float: right;
    margin: auto;
    padding: 0;
}