<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>:-&gt;:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👎</string>
		<key>shortcut</key>
		<string>:-1:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👍</string>
		<key>shortcut</key>
		<string>:+1:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>:&lt;-:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇐</string>
		<key>shortcut</key>
		<string>:&lt;=:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇒</string>
		<key>shortcut</key>
		<string>:=&gt;:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>α</string>
		<key>shortcut</key>
		<string>:alpha:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌥</string>
		<key>shortcut</key>
		<string>:alt:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌫</string>
		<key>shortcut</key>
		<string>:backspace:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>β</string>
		<key>shortcut</key>
		<string>:beta:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌘</string>
		<key>shortcut</key>
		<string>:cmd:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>○</string>
		<key>shortcut</key>
		<string>:compose:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌃</string>
		<key>shortcut</key>
		<string>:ctrl:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>δ</string>
		<key>shortcut</key>
		<string>:delta:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¯\_(ツ)_/¯</string>
		<key>shortcut</key>
		<string>:dunno:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⎋</string>
		<key>shortcut</key>
		<string>:esc:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>€</string>
		<key>shortcut</key>
		<string>:euro:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>γ</string>
		<key>shortcut</key>
		<string>:gamma:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>λ</string>
		<key>shortcut</key>
		<string>:lambda:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>μ</string>
		<key>shortcut</key>
		<string>:mu:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>×</string>
		<key>shortcut</key>
		<string>:multiply:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ω</string>
		<key>shortcut</key>
		<string>:omega:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↩</string>
		<key>shortcut</key>
		<string>:return:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇧</string>
		<key>shortcut</key>
		<string>:shift:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💩</string>
		<key>shortcut</key>
		<string>:shit:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(╯°□°）╯︵ ┻━┻</string>
		<key>shortcut</key>
		<string>:table:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>τ</string>
		<key>shortcut</key>
		<string>:tau:</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>²</string>
		<key>shortcut</key>
		<string>^2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>³</string>
		<key>shortcut</key>
		<string>^3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ಠ_ಠ</string>
		<key>shortcut</key>
		<string>0_0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ಠ_ರೃ</string>
		<key>shortcut</key>
		<string>0_o</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>½</string>
		<key>shortcut</key>
		<string>1/2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅓</string>
		<key>shortcut</key>
		<string>1/3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¼</string>
		<key>shortcut</key>
		<string>1/4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅕</string>
		<key>shortcut</key>
		<string>1/5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅙</string>
		<key>shortcut</key>
		<string>1/6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅔</string>
		<key>shortcut</key>
		<string>2/3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¾</string>
		<key>shortcut</key>
		<string>3/4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>julienbourdeau@gmail.com</string>
		<key>shortcut</key>
		<string>jb@g</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>On my way!</string>
		<key>shortcut</key>
		<string>omw</string>
	</dict>
</array>
</plist>
