<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlternateMouseScroll</key>
	<true/>
	<key>AppleAntiAliasingThreshold</key>
	<integer>1</integer>
	<key>AppleScrollAnimationEnabled</key>
	<integer>0</integer>
	<key>AppleSmoothFixedFontsSizeThreshold</key>
	<integer>1</integer>
	<key>CopySelection</key>
	<false/>
	<key>Custom Color Presets</key>
	<dict>
		<key>Arthur</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16470588743686676</real>
				<key>Green Component</key>
				<real>0.20784313976764679</real>
				<key>Red Component</key>
				<real>0.23921568691730499</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.36078432202339172</real>
				<key>Green Component</key>
				<real>0.36078432202339172</real>
				<key>Red Component</key>
				<real>0.80392158031463623</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.13333334028720856</real>
				<key>Green Component</key>
				<real>0.66666668653488159</real>
				<key>Red Component</key>
				<real>0.53333336114883423</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.364705890417099</real>
				<key>Green Component</key>
				<real>0.65490198135375977</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92156863212585449</real>
				<key>Green Component</key>
				<real>0.80784314870834351</real>
				<key>Red Component</key>
				<real>0.52941179275512695</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.40000000596046448</real>
				<key>Red Component</key>
				<real>0.60000002384185791</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.87058824300765991</real>
				<key>Green Component</key>
				<real>0.76862746477127075</real>
				<key>Red Component</key>
				<real>0.69019609689712524</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.80000001192092896</real>
				<key>Red Component</key>
				<real>0.86666667461395264</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.50196081399917603</real>
				<key>Green Component</key>
				<real>0.68627452850341797</real>
				<key>Red Component</key>
				<real>0.52549022436141968</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.35686275362968445</real>
				<key>Green Component</key>
				<real>0.68235296010971069</real>
				<key>Red Component</key>
				<real>0.90980392694473267</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.92941176891326904</real>
				<key>Green Component</key>
				<real>0.58431375026702881</real>
				<key>Red Component</key>
				<real>0.39215686917304993</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.52941179275512695</real>
				<key>Green Component</key>
				<real>0.72156864404678345</real>
				<key>Red Component</key>
				<real>0.87058824300765991</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.87058824300765991</real>
				<key>Green Component</key>
				<real>0.76862746477127075</real>
				<key>Red Component</key>
				<real>0.69019609689712524</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.60000002384185791</real>
				<key>Green Component</key>
				<real>0.66666668653488159</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.26666668057441711</real>
				<key>Green Component</key>
				<real>0.26666668057441711</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.20000000298023224</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.80000001192092896</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.10980392247438431</real>
				<key>Green Component</key>
				<real>0.10980392247438431</real>
				<key>Red Component</key>
				<real>0.10980392247438431</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.93725490570068359</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.88627451658248901</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86666667461395264</real>
				<key>Green Component</key>
				<real>0.93333333730697632</real>
				<key>Red Component</key>
				<real>0.86666667461395264</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.30241936445236206</real>
				<key>Green Component</key>
				<real>0.30241936445236206</real>
				<key>Red Component</key>
				<real>0.30241936445236206</real>
			</dict>
		</dict>
		<key>Brogrammer</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.12343787401914597</real>
				<key>Green Component</key>
				<real>0.12343578040599823</real>
				<key>Red Component</key>
				<real>0.1234394758939743</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.095619738101959229</real>
				<key>Green Component</key>
				<real>0.067135065793991089</real>
				<key>Red Component</key>
				<real>0.97170770168304443</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.379891037940979</real>
				<key>Green Component</key>
				<real>0.82695949077606201</real>
				<key>Red Component</key>
				<real>0.11459558457136154</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.035377603024244308</real>
				<key>Green Component</key>
				<real>0.74144089221954346</real>
				<key>Red Component</key>
				<real>0.95126962661743164</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.838664710521698</real>
				<key>Green Component</key>
				<real>0.50448882579803467</real>
				<key>Red Component</key>
				<real>0.061654355376958847</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72698760032653809</real>
				<key>Green Component</key>
				<real>0.3135044276714325</real>
				<key>Red Component</key>
				<real>0.32478702068328857</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.85764402151107788</real>
				<key>Green Component</key>
				<real>0.4900696873664856</real>
				<key>Red Component</key>
				<real>0.059441849589347839</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.36823004484176636</real>
				<key>Green Component</key>
				<real>0.77383565902709961</real>
				<key>Red Component</key>
				<real>0.17600196599960327</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.060177117586135864</real>
				<key>Green Component</key>
				<real>0.72761225700378418</real>
				<key>Red Component</key>
				<real>0.92706489562988281</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.82454067468643188</real>
				<key>Green Component</key>
				<real>0.51804500818252563</real>
				<key>Red Component</key>
				<real>0.16567224264144897</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.71787959337234497</real>
				<key>Green Component</key>
				<real>0.35215187072753906</real>
				<key>Red Component</key>
				<real>0.30770933628082275</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.838664710521698</real>
				<key>Green Component</key>
				<real>0.50448882579803467</real>
				<key>Red Component</key>
				<real>0.061654355376958847</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.1818375289440155</real>
				<key>Green Component</key>
				<real>0.20686990022659302</real>
				<key>Red Component</key>
				<real>0.87161564826965332</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.076218985021114349</real>
				<key>Green Component</key>
				<real>0.076217696070671082</real>
				<key>Red Component</key>
				<real>0.07621997594833374</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72549021244049072</real>
				<key>Green Component</key>
				<real>0.72549021244049072</real>
				<key>Red Component</key>
				<real>0.72549021244049072</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.062745101749897003</real>
				<key>Green Component</key>
				<real>0.062745101749897003</real>
				<key>Red Component</key>
				<real>0.062745101749897003</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.12343787401914597</real>
				<key>Green Component</key>
				<real>0.12343578040599823</real>
				<key>Red Component</key>
				<real>0.1234394758939743</real>
			</dict>
		</dict>
		<key>Solarized Dark</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19370138645172119</real>
				<key>Green Component</key>
				<real>0.15575926005840302</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.14145714044570923</real>
				<key>Green Component</key>
				<real>0.10840655118227005</real>
				<key>Red Component</key>
				<real>0.81926977634429932</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.38298487663269043</real>
				<key>Green Component</key>
				<real>0.35665956139564514</real>
				<key>Red Component</key>
				<real>0.27671992778778076</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.43850564956665039</real>
				<key>Green Component</key>
				<real>0.40717673301696777</real>
				<key>Red Component</key>
				<real>0.32436618208885193</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51685798168182373</real>
				<key>Green Component</key>
				<real>0.50962930917739868</real>
				<key>Red Component</key>
				<real>0.44058024883270264</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72908437252044678</real>
				<key>Green Component</key>
				<real>0.33896297216415405</real>
				<key>Red Component</key>
				<real>0.34798634052276611</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.56363654136657715</real>
				<key>Green Component</key>
				<real>0.56485837697982788</real>
				<key>Red Component</key>
				<real>0.50599193572998047</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.86405980587005615</real>
				<key>Green Component</key>
				<real>0.95794391632080078</real>
				<key>Red Component</key>
				<real>0.98943418264389038</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.020208755508065224</real>
				<key>Green Component</key>
				<real>0.54115492105484009</real>
				<key>Red Component</key>
				<real>0.44977453351020813</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.023484811186790466</real>
				<key>Green Component</key>
				<real>0.46751424670219421</real>
				<key>Red Component</key>
				<real>0.64746475219726562</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.78231418132781982</real>
				<key>Green Component</key>
				<real>0.46265947818756104</real>
				<key>Red Component</key>
				<real>0.12754884362220764</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.43516635894775391</real>
				<key>Green Component</key>
				<real>0.10802463442087173</real>
				<key>Red Component</key>
				<real>0.77738940715789795</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.52502274513244629</real>
				<key>Green Component</key>
				<real>0.57082360982894897</real>
				<key>Red Component</key>
				<real>0.14679534733295441</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.79781103134155273</real>
				<key>Green Component</key>
				<real>0.89001238346099854</real>
				<key>Red Component</key>
				<real>0.91611063480377197</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15170273184776306</real>
				<key>Green Component</key>
				<real>0.11783610284328461</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.073530435562133789</real>
				<key>Green Component</key>
				<real>0.21325300633907318</real>
				<key>Red Component</key>
				<real>0.74176257848739624</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15170273184776306</real>
				<key>Green Component</key>
				<real>0.11783610284328461</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.56363654136657715</real>
				<key>Green Component</key>
				<real>0.56485837697982788</real>
				<key>Red Component</key>
				<real>0.50599193572998047</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51685798168182373</real>
				<key>Green Component</key>
				<real>0.50962930917739868</real>
				<key>Red Component</key>
				<real>0.44058024883270264</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19370138645172119</real>
				<key>Green Component</key>
				<real>0.15575926005840302</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.51685798168182373</real>
				<key>Green Component</key>
				<real>0.50962930917739868</real>
				<key>Red Component</key>
				<real>0.44058024883270264</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.56363654136657715</real>
				<key>Green Component</key>
				<real>0.56485837697982788</real>
				<key>Red Component</key>
				<real>0.50599193572998047</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19370138645172119</real>
				<key>Green Component</key>
				<real>0.15575926005840302</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>95EAABC5-EEC9-4AD8-82C3-EC1BF7D9BDFB</string>
	<key>DisableFullscreenTransparency</key>
	<true/>
	<key>GlobalKeyMap</key>
	<dict>
		<key>0x19-0x60000</key>
		<dict>
			<key>Action</key>
			<integer>39</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0x9-0x40000</key>
		<dict>
			<key>Action</key>
			<integer>32</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf700-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>7</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf701-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>6</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x280000</key>
		<dict>
			<key>Action</key>
			<integer>10</integer>
			<key>Text</key>
			<string>b</string>
		</dict>
		<key>0xf702-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>2</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf702-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>33</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x280000</key>
		<dict>
			<key>Action</key>
			<integer>10</integer>
			<key>Text</key>
			<string>f</string>
		</dict>
		<key>0xf703-0x300000</key>
		<dict>
			<key>Action</key>
			<integer>0</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf703-0x320000</key>
		<dict>
			<key>Action</key>
			<integer>34</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf729-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>5</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72b-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>4</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72c-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x100000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
		<key>0xf72d-0x20000</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Text</key>
			<string></string>
		</dict>
	</dict>
	<key>HideTab</key>
	<false/>
	<key>IRMemory</key>
	<integer>10</integer>
	<key>LeftOption</key>
	<integer>2</integer>
	<key>LoadPrefsFromCustomFolder</key>
	<true/>
	<key>NSNavLastRootDirectory</key>
	<string>~/Projects/dotfiles/terminal</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{712, 448}</string>
	<key>NSQuotedKeystrokeBinding</key>
	<string></string>
	<key>NSRepeatCountBinding</key>
	<string></string>
	<key>NSScrollAnimationEnabled</key>
	<false/>
	<key>NSScrollViewShouldScrollUnderTitlebar</key>
	<false/>
	<key>NSTableView Columns v2 KeyBingingTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGNjdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK4HCA8aGxwdHh8gJjAxMlUkbnVsbNIJCgsOWk5TLm9iamVjdHNWJGNsYXNzogwN
	gAKACoAN0xAJChEVGVdOUy5rZXlzoxITFIADgASABaMWFxiABoAHgAiACVpJZGVudGlm
	aWVyVVdpZHRoVkhpZGRlblEwI0BowAAAAAAACNIhIiMkWiRjbGFzc25hbWVYJGNsYXNz
	ZXNcTlNEaWN0aW9uYXJ5oiMlWE5TT2JqZWN00xAJCicrGaMSExSAA4AEgAWjLC0YgAuA
	DIAIgAlRMSNAdCGdsi0OVtIhIjM0Xk5TTXV0YWJsZUFycmF5ozM1JVdOU0FycmF5XxAP
	TlNLZXllZEFyY2hpdmVy0Tg5VUFycmF5gAEACAARABoAIwAtADIANwBGAEwAUQBcAGMA
	ZgBoAGoAbABzAHsAfwCBAIMAhQCJAIsAjQCPAJEAnACiAKkAqwC0ALUAugDFAM4A2wDe
	AOcA7gDyAPQA9gD4APwA/gEAAQIBBAEGAQ8BFAEjAScBLwFBAUQBSgAAAAAAAAIBAAAA
	AAAAADoAAAAAAAAAAAAAAAAAAAFM
	</data>
	<key>NSTableView Sort Ordering v2 KeyBingingTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFBVYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA1VJG51bGzSCQoLDFpOUy5vYmplY3RzViRjbGFzc6CAAtIODxARWiRjbGFz
	c25hbWVYJGNsYXNzZXNeTlNNdXRhYmxlQXJyYXmjEBITV05TQXJyYXlYTlNPYmplY3Rf
	EA9OU0tleWVkQXJjaGl2ZXLRFhdVQXJyYXmAAQgRGiMtMjc7QUZRWFlbYGt0g4ePmKqt
	swAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAAC1
	</data>
	<key>NSTableView Supports v2 KeyBingingTable</key>
	<true/>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSFontPanel</key>
	<string>1235 89 445 103 0 0 1680 1027 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>-90 1247 400 129 -266 1200 2560 1417 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>704 1968 620 392 -266 1200 2560 1417 </string>
	<key>NSWindow Frame SharedPreferences</key>
	<string>762 2012 796 473 -266 1200 2560 1417 </string>
	<key>NSWindow Frame iTerm Window 0</key>
	<string>29 97 1426 1074 0 0 1920 1177 </string>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.12343787401914597</real>
				<key>Green Component</key>
				<real>0.12343578040599823</real>
				<key>Red Component</key>
				<real>0.1234394758939743</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.095619738101959229</real>
				<key>Green Component</key>
				<real>0.067135065793991089</real>
				<key>Red Component</key>
				<real>0.97170770168304443</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.379891037940979</real>
				<key>Green Component</key>
				<real>0.82695949077606201</real>
				<key>Red Component</key>
				<real>0.11459558457136154</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.035377603024244308</real>
				<key>Green Component</key>
				<real>0.74144089221954346</real>
				<key>Red Component</key>
				<real>0.95126962661743164</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.838664710521698</real>
				<key>Green Component</key>
				<real>0.50448882579803467</real>
				<key>Red Component</key>
				<real>0.061654355376958847</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72698760032653809</real>
				<key>Green Component</key>
				<real>0.3135044276714325</real>
				<key>Red Component</key>
				<real>0.32478702068328857</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.85764402151107788</real>
				<key>Green Component</key>
				<real>0.4900696873664856</real>
				<key>Red Component</key>
				<real>0.059441849589347839</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.36823004484176636</real>
				<key>Green Component</key>
				<real>0.77383565902709961</real>
				<key>Red Component</key>
				<real>0.17600196599960327</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.060177117586135864</real>
				<key>Green Component</key>
				<real>0.72761225700378418</real>
				<key>Red Component</key>
				<real>0.92706489562988281</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.82454067468643188</real>
				<key>Green Component</key>
				<real>0.51804500818252563</real>
				<key>Red Component</key>
				<real>0.16567224264144897</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.71787959337234497</real>
				<key>Green Component</key>
				<real>0.35215187072753906</real>
				<key>Red Component</key>
				<real>0.30770933628082275</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.838664710521698</real>
				<key>Green Component</key>
				<real>0.50448882579803467</real>
				<key>Red Component</key>
				<real>0.061654355376958847</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.1818375289440155</real>
				<key>Green Component</key>
				<real>0.20686990022659302</real>
				<key>Red Component</key>
				<real>0.87161564826965332</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>120</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.72549021244049072</real>
				<key>Green Component</key>
				<real>0.72549021244049072</real>
				<key>Red Component</key>
				<real>0.72549021244049072</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.91000000000000003</real>
				<key>Red Component</key>
				<real>0.65000000000000002</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.062745101749897003</real>
				<key>Green Component</key>
				<real>0.062745101749897003</real>
				<key>Red Component</key>
				<real>0.062745101749897003</real>
			</dict>
			<key>Cursor Type</key>
			<integer>2</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Recycle</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Guid</key>
			<string>95EAABC5-EEC9-4AD8-82C3-EC1BF7D9BDFB</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.67800000000000005</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.27000000000000002</real>
				<key>Red Component</key>
				<real>0.023</real>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>Monaco 13</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>55</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>10000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.89713811874389648</real>
				<key>Green Component</key>
				<real>0.8579363226890564</real>
				<key>Red Component</key>
				<real>0.84028750658035278</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.42466866970062256</real>
				<key>Color Space</key>
				<string>Calibrated</string>
				<key>Green Component</key>
				<real>0.42466151714324951</real>
				<key>Red Component</key>
				<real>0.42467421293258667</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Show Mark Indicators</key>
			<true/>
			<key>Silence Bell</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.014312130177514794</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Use Tab Color</key>
			<true/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/julien</string>
		</dict>
	</array>
	<key>NoSyncHaveWarnedAboutPasteConfirmationChange</key>
	<true/>
	<key>NoSyncInstallationId</key>
	<string>DEFC6DF4-7531-46E6-81DE-9ACF7FA245C9</string>
	<key>NoSyncLastTipTime</key>
	<real>511378675.32763302</real>
	<key>NoSyncNeverRemindPrefsChangesLostForFile</key>
	<true/>
	<key>NoSyncNeverRemindPrefsChangesLostForFile_selection</key>
	<integer>0</integer>
	<key>NoSyncPermissionToShowTip</key>
	<true/>
	<key>NoSyncTimeOfFirstLaunchOfVersionWithTip</key>
	<real>510845146.42748499</real>
	<key>NoSyncTipsDisabled</key>
	<true/>
	<key>NoSyncTipsToNotShow</key>
	<array>
		<string>000</string>
	</array>
	<key>OnlyWhenMoreTabs</key>
	<false/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromSelectionPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>PrefsCustomFolder</key>
	<string>/Users/julien/Projects/dotfiles/terminal</string>
	<key>Print In Black And White</key>
	<true/>
	<key>PromptOnQuit</key>
	<false/>
	<key>QuitWhenAllWindowsClosed</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedAlternateAppNameKey</key>
	<string>iTerm</string>
	<key>SUFeedURL</key>
	<string>https://iterm2.com/appcasts/final.xml?shard=44</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2017-04-12T08:34:41Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>ShowBookmarkName</key>
	<false/>
	<key>ShowFullScreenTabBar</key>
	<true/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.3617312700320513</real>
	<key>TabStyle</key>
	<integer>1</integer>
	<key>WordCharacters</key>
	<string>/-+\~_.</string>
	<key>findIgnoreCase_iTerm</key>
	<true/>
	<key>findRegex_iTerm</key>
	<false/>
	<key>iTerm Version</key>
	<string>3.0.15</string>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>0</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
</dict>
</plist>
